<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c0c676d4991aa18162a94aaa98f8a90b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
    <script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.css"/>
</head>
<body>
    
    
    <div style="position: fixed; 
                top: 10px; left: 50px; width: auto; height: auto; 
                background-color: white; padding: 10px; z-index:9999;
                border: 2px solid grey; border-radius: 5px;
                font-family: Arial; font-size: 14px">
        <b>Museu de Percurso</b><br>
        <b><i>Raphael Arcuri</b></i><br>
        Projeto: <i>Letícia Rabelo</i>
    </div>
    
    <div style="position: fixed; 
                bottom: 10px; right: 10px; width: auto; height: auto; 
                background-color: white; padding: 10px; z-index:9999;
                border: 2px solid grey; border-radius: 5px;
                font-family: Arial; font-size: 14px">
        <b>Distância Percorrida</b><br>
        2.55 km
    </div>
    
            <div class="folium-map" id="map_c0c676d4991aa18162a94aaa98f8a90b" ></div>
        
</body>
<script>
    
    
            var map_c0c676d4991aa18162a94aaa98f8a90b = L.map(
                "map_c0c676d4991aa18162a94aaa98f8a90b",
                {
                    center: [-21.761874435714287, -43.34581435714286],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_768320cbb83de3ce18727e44ef8f96a7 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_768320cbb83de3ce18727e44ef8f96a7.addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            L.control.fullscreen(
                {
  "position": "bottomleft",
  "title": "Expandir",
  "titleCancel": "Sair",
  "forceSeparateButton": true,
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var marker_729d58053a301ce584b3fc3e6d93c031 = L.marker(
                [-21.7616, -43.349999],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_fdeb903a0d27969636c427a82cdda544 = L.AwesomeMarkers.icon(
                {
  "markerColor": "cadetblue",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_729d58053a301ce584b3fc3e6d93c031.bindTooltip(
                `<div>
                     <b>Nome</b>: Paço Municipal <br><b>Parada</b>: 0 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_729d58053a301ce584b3fc3e6d93c031.setIcon(icon_fdeb903a0d27969636c427a82cdda544);
            
    
            var poly_line_af36029613c9dd637daa1ded4d5fad8c = L.polyline(
                [[-21.7616, -43.349999], [-21.7608312, -43.3496202]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_af36029613c9dd637daa1ded4d5fad8c.bindTooltip(
                `<div>
                     <b>De</b>: Paço Municipal <br><b>Até</b>: ED. CIAMPI <br><b>Distância</b>: 94 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_b1aecc22e3f1fe770e62196009abbdf3 = L.marker(
                [-21.7608312, -43.3496202],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_706f9519dd69872225e29df94373c6c1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_b1aecc22e3f1fe770e62196009abbdf3.bindTooltip(
                `<div>
                     <b>Nome</b>: ED. CIAMPI <br><b>Parada</b>: 1 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_b1aecc22e3f1fe770e62196009abbdf3.setIcon(icon_706f9519dd69872225e29df94373c6c1);
            
    
            var poly_line_cd6425c035bf5ffbffcea64cfeb08a26 = L.polyline(
                [[-21.7608312, -43.3496202], [-21.7606305, -43.3484793]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_cd6425c035bf5ffbffcea64cfeb08a26.bindTooltip(
                `<div>
                     <b>De</b>: ED. CIAMPI <br><b>Até</b>: Galeria Pio X <br><b>Distância</b>: 120 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_40820a1616e420c09bd983e6e8f0e71f = L.marker(
                [-21.7606305, -43.3484793],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_ab61591bb14311ff0bbd86452e9a6d1b = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_40820a1616e420c09bd983e6e8f0e71f.bindTooltip(
                `<div>
                     <b>Nome</b>: Galeria Pio X <br><b>Parada</b>: 2 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_40820a1616e420c09bd983e6e8f0e71f.setIcon(icon_ab61591bb14311ff0bbd86452e9a6d1b);
            
    
            var poly_line_9ed7ab99801c10148969e6fdb2fbef91 = L.polyline(
                [[-21.7606305, -43.3484793], [-21.7615775, -43.3478918]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_9ed7ab99801c10148969e6fdb2fbef91.bindTooltip(
                `<div>
                     <b>De</b>: Galeria Pio X <br><b>Até</b>: Cine Theatro Central <br><b>Distância</b>: 121 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_afbeef1063e33df2e3f2b22c8bbad65c = L.marker(
                [-21.7615775, -43.3478918],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_d1efbcfa0c7d64e9dda5d2d90147dab2 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_afbeef1063e33df2e3f2b22c8bbad65c.bindTooltip(
                `<div>
                     <b>Nome</b>: Cine Theatro Central <br><b>Parada</b>: 3 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_afbeef1063e33df2e3f2b22c8bbad65c.setIcon(icon_d1efbcfa0c7d64e9dda5d2d90147dab2);
            
    
            var poly_line_c040aa3fb83086a43383361eef1b0ed4 = L.polyline(
                [[-21.7615775, -43.3478918], [-21.7608331, -43.3468349]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_c040aa3fb83086a43383361eef1b0ed4.bindTooltip(
                `<div>
                     <b>De</b>: Cine Theatro Central <br><b>Até</b>: Palacete Pinho <br><b>Distância</b>: 137 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_6488135c48e38f406b46e4c1e9fa5652 = L.marker(
                [-21.7608331, -43.3468349],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_2d25024f5672d310047e4ea1faf02dc0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_6488135c48e38f406b46e4c1e9fa5652.bindTooltip(
                `<div>
                     <b>Nome</b>: Palacete Pinho <br><b>Parada</b>: 4 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_6488135c48e38f406b46e4c1e9fa5652.setIcon(icon_2d25024f5672d310047e4ea1faf02dc0);
            
    
            var poly_line_d3551a19291cdec58231473c780c6aac = L.polyline(
                [[-21.7608331, -43.3468349], [-21.7601146, -43.3448549]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_d3551a19291cdec58231473c780c6aac.bindTooltip(
                `<div>
                     <b>De</b>: Palacete Pinho <br><b>Até</b>: Cia. Dias Cardoso <br><b>Distância</b>: 220 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a2adbfeb383fd117164c49e1f42d37da = L.marker(
                [-21.7601146, -43.3448549],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_07308a3d4305cb10cdf08370e8615c6b = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_a2adbfeb383fd117164c49e1f42d37da.bindTooltip(
                `<div>
                     <b>Nome</b>: Cia. Dias Cardoso <br><b>Parada</b>: 5 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_a2adbfeb383fd117164c49e1f42d37da.setIcon(icon_07308a3d4305cb10cdf08370e8615c6b);
            
    
            var poly_line_98347e7d86a072f2466c6f1c3be77b9a = L.polyline(
                [[-21.7601146, -43.3448549], [-21.7599733, -43.3440394]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_98347e7d86a072f2466c6f1c3be77b9a.bindTooltip(
                `<div>
                     <b>De</b>: Cia. Dias Cardoso <br><b>Até</b>: Hotel Príncipe <br><b>Distância</b>: 86 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_55581d68899ec787dbf2aadb6fac1449 = L.marker(
                [-21.7599733, -43.3440394],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_6e0c62c7dcae82a1bec79ee7e2c9a6af = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_55581d68899ec787dbf2aadb6fac1449.bindTooltip(
                `<div>
                     <b>Nome</b>: Hotel Príncipe <br><b>Parada</b>: 6 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_55581d68899ec787dbf2aadb6fac1449.setIcon(icon_6e0c62c7dcae82a1bec79ee7e2c9a6af);
            
    
            var poly_line_e469fd72512d4de50e853aaec8974008 = L.polyline(
                [[-21.7599733, -43.3440394], [-21.7597099, -43.3441725]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_e469fd72512d4de50e853aaec8974008.bindTooltip(
                `<div>
                     <b>De</b>: Hotel Príncipe <br><b>Até</b>: Associação Comercial <br><b>Distância</b>: 32 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c96f547ac7a61abe5b2628fd8f3b5078 = L.marker(
                [-21.7597099, -43.3441725],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_5870c723d2ea836a716a91c0fee0c7b3 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_c96f547ac7a61abe5b2628fd8f3b5078.bindTooltip(
                `<div>
                     <b>Nome</b>: Associação Comercial <br><b>Parada</b>: 7 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_c96f547ac7a61abe5b2628fd8f3b5078.setIcon(icon_5870c723d2ea836a716a91c0fee0c7b3);
            
    
            var poly_line_135410c33f1cde545264f20e550e2642 = L.polyline(
                [[-21.7597099, -43.3441725], [-21.762536, -43.342788]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_135410c33f1cde545264f20e550e2642.bindTooltip(
                `<div>
                     <b>De</b>: Associação Comercial <br><b>Até</b>: Cia. Pantaleone Arcuri <br><b>Distância</b>: 344 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_8eab2de4747498027c69430c8e6d8f00 = L.marker(
                [-21.762536, -43.342788],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_194e89e1dba76b7de8f14b614a77decc = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_8eab2de4747498027c69430c8e6d8f00.bindTooltip(
                `<div>
                     <b>Nome</b>: Cia. Pantaleone Arcuri <br><b>Parada</b>: 8 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_8eab2de4747498027c69430c8e6d8f00.setIcon(icon_194e89e1dba76b7de8f14b614a77decc);
            
    
            var poly_line_49688dec5fb255f7de7fec3f14029983 = L.polyline(
                [[-21.762536, -43.342788], [-21.763336, -43.344481]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_49688dec5fb255f7de7fec3f14029983.bindTooltip(
                `<div>
                     <b>De</b>: Cia. Pantaleone Arcuri <br><b>Até</b>: Vila Iracema <br><b>Distância</b>: 196 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_79a977e04b53aa30d47e635662422d3b = L.marker(
                [-21.763336, -43.344481],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_8f55e38ac79fb7775a36e1269b631368 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_79a977e04b53aa30d47e635662422d3b.bindTooltip(
                `<div>
                     <b>Nome</b>: Vila Iracema <br><b>Parada</b>: 9 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_79a977e04b53aa30d47e635662422d3b.setIcon(icon_8f55e38ac79fb7775a36e1269b631368);
            
    
            var poly_line_20bca40325c47791a1d90992732fcdb8 = L.polyline(
                [[-21.763336, -43.344481], [-21.76328, -43.345717]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_20bca40325c47791a1d90992732fcdb8.bindTooltip(
                `<div>
                     <b>De</b>: Vila Iracema <br><b>Até</b>: Palacete dos Fellet <br><b>Distância</b>: 128 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_ce9e17f572f53b5793b3720f756ce996 = L.marker(
                [-21.76328, -43.345717],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_102d8ccf23fab7776cdaa332a63d1c05 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_ce9e17f572f53b5793b3720f756ce996.bindTooltip(
                `<div>
                     <b>Nome</b>: Palacete dos Fellet <br><b>Parada</b>: 10 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_ce9e17f572f53b5793b3720f756ce996.setIcon(icon_102d8ccf23fab7776cdaa332a63d1c05);
            
    
            var poly_line_0bd44f0a9af25b7392055455fc99c7d7 = L.polyline(
                [[-21.76328, -43.345717], [-21.763699, -43.342097]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_0bd44f0a9af25b7392055455fc99c7d7.bindTooltip(
                `<div>
                     <b>De</b>: Palacete dos Fellet <br><b>Até</b>: Residência Raphael Arcuri <br><b>Distância</b>: 377 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_7c9246d5ea3f1dfd8d9eee3259d4fb00 = L.marker(
                [-21.763699, -43.342097],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_6028971c996db58c4004fd9628e392e5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_7c9246d5ea3f1dfd8d9eee3259d4fb00.bindTooltip(
                `<div>
                     <b>Nome</b>: Residência Raphael Arcuri <br><b>Parada</b>: 11 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_7c9246d5ea3f1dfd8d9eee3259d4fb00.setIcon(icon_6028971c996db58c4004fd9628e392e5);
            
    
            var poly_line_9d5be2a940ed0314738219e13fbeb630 = L.polyline(
                [[-21.763699, -43.342097], [-21.763666, -43.341959]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_9d5be2a940ed0314738219e13fbeb630.bindTooltip(
                `<div>
                     <b>De</b>: Residência Raphael Arcuri <br><b>Até</b>: Castelinho dos Bracher <br><b>Distância</b>: 15 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1e447bb82114c770c2f70b3a686f3be9 = L.marker(
                [-21.763666, -43.341959],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_fd972c65bd2077564140c13627d5a4c8 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_1e447bb82114c770c2f70b3a686f3be9.bindTooltip(
                `<div>
                     <b>Nome</b>: Castelinho dos Bracher <br><b>Parada</b>: 12 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_1e447bb82114c770c2f70b3a686f3be9.setIcon(icon_fd972c65bd2077564140c13627d5a4c8);
            
    
            var poly_line_35201dce40ec311082483fa7671b0363 = L.polyline(
                [[-21.763666, -43.341959], [-21.764455, -43.348467]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            poly_line_35201dce40ec311082483fa7671b0363.bindTooltip(
                `<div>
                     <b>De</b>: Castelinho dos Bracher <br><b>Até</b>: Casa D´Itália <br><b>Distância</b>: 679 m
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_2394e490316f766d3d5f15b39f9f0680 = L.marker(
                [-21.764455, -43.348467],
                {
}
            ).addTo(map_c0c676d4991aa18162a94aaa98f8a90b);
        
    
            var icon_81ae16c66d4c1fcf8c67fe36a156e974 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "monument",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
            marker_2394e490316f766d3d5f15b39f9f0680.bindTooltip(
                `<div>
                     <b>Nome</b>: Casa D´Itália <br><b>Parada</b>: 13 <br>
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_2394e490316f766d3d5f15b39f9f0680.setIcon(icon_81ae16c66d4c1fcf8c67fe36a156e974);
            
</script>
</html>